.switchButton{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: .1rem solid black;
    cursor: pointer;
    font-size: 2.3rem;
    font-family: "Arial", sans-serif;
    transition: .2s ease-in;
    margin-left: 2rem;
    margin-top: 1rem;
    line-height: 0;
    padding: 0;
}
.switchButton:hover{
    border-radius: .8rem;
}
.closeFilterInputButton:hover{
    background-color: rgb(179, 255, 206);
}
.addFilterInputButton{
    background-color: rgb(255, 199, 178);
    border-radius: .8rem;
    
}
.closeFilterInputButton svg{
    transform: rotate(45deg);
    transition: .2s ease-in;
}
.addFilterInputButton svg{
    
    transition: .2s ease-in;
}
.addFilterInputButton:hover{
    background-color: rgb(255, 171, 141);
}