.filter__section{
    margin-bottom: 2rem;
    
}
.filterList__ul{
    max-width: 80%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}
.filterList__ul::-webkit-scrollbar {
    width: 0;
    height: 0;
    
}