.todoList__section{
    width: 100%;
    height: calc(100vh - 21.1rem - 10rem);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.todoList__ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
    overflow-y: scroll;
    padding-top: 2rem;
    padding-left: 0;
}
.todoList__section .clearTodo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: rgb(101, 101, 101);
}
.todoCount__block{
    border-bottom: .1rem solid black;
    padding: .5rem;
    opacity: .2;
    transition: .2s ease-in-out;
    cursor:default;
}
.todoCount__block:hover{
    opacity: .8;
}
.todoCount__block span{
    font-size: 1.8rem;
    cursor: default;
}